#actors_display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

#actors_display .wrapper {
  box-sizing: content-box;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 350px;
  height: 850px;
  border: 1px solid white;
  margin-left: 65px;
  overflow: hidden;
  background-color: #ffffff;
  webkit-box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  -moz-box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
}

.wrapper {
  webkit-box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  -moz-box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
}


.heading_title h1 {
  text-align: center;
  font-weight: 300;
  padding-top: 10px;
  font-size: 20px;
  color: #000000;
  padding-bottom: 10px;
}

.actor_img {
  padding-top: 5px;
  -webkit-box-shadow: 1px 4px 105px -9px rgba(0,0,0,1);
  -moz-box-shadow: 1px 4px 105px -9px rgba(0,0,0,1);
  box-shadow: 1px 4px 105px -9px rgba(0,0,0,1);
}

.actor_img img {
  padding-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 54px;
  max-width: 100px;
  /* position: relative; */
  padding-left: 10px;
  padding-bottom: 5px;
}

.actors .actors_items .actor_img .actor_name {
 float: right;
 margin-right: 131px;
 margin-top: 50px;
 /* position: absolute; */
 color: #000000;
}

.actor_name h3 {
  font-weight: 400;
  padding-top: 5px;
}

#movies_display {
  margin-top: 50px;
  color: black;
  webkit-box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  -moz-box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  height: 650px;
}

.background_display {
  color: white;
  text-align: center;
  padding-top: 5px;
}

.title h1{
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 400;
}

.year_release h2 {
  padding-bottom: 5px;
  font-weight: 300;
}

.summary p {
  font-weight: 300;
}

.rating h1 {
  padding-top: 5px;
  font-weight: 400;
}

.ad_display {
  margin-top: 50px;
  margin-right: 67px;
  color: black;
  webkit-box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  -moz-box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  box-shadow: 1px 4px 105px -9px rgba(14,142,240,1);
  height: 300px;
}

.ad_title h1 {
  padding-top: 5px;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: white;
}

.ad_image a img {
padding: 10px 40px;
max-width: 300px;
max-height: 300px;

}


